[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
docker = "*"
pydicom = "*"
future = "*"
redis = "*"
numpy = "*"
psycopg2 = "*"

[dev-packages]
pylint = "*"

[requires]
python_version = "3.8"

[packages.celery]
extras = [ "redis",]
